body {
    background-image: url("bilder/bakgrund2.png");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Handlee';
    margin: 0;
}


.pil {
  position: fixed;
  left: 10px;
  top: 10px;
  background-color: #fafafa;
  border-radius: 10px;
  border: solid black;
}
.pil:hover {
    opacity: 0.8;
}

.container {
  position: absolute;
  top: 50%;
  left: 52%;
  transform: translate(-50%, -50%);
}
  h2 {
    color: white;
    text-align: center;
    
  }
  h1 {
      color: red;
      text-align: center;
      font-size: 40px;
     
       
  }
  p {
    color: white;
    text-align: center;
    font-size: 25px;
    

  }

  img {
    max-width: 50%; 
    height: auto; 
    display: block; 
    margin: 0 auto; 
  }
